<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <script src="/assets/js/main.js"></script>
    <title>Eto Pirka SNS</title>
  </head>
  <body>
    <header>
      <h1><a href="/user/{{.UserData.name}}">Eto Pirka SNS</a></h1>
      {{if .UserData}}
        <i class="fa fa-user" aria-hidden="true"></i>{{.UserData.name}} |
        <a href="/logout">ログアウト</a>
      {{end}}
    </header>
    <div id="content">
      {{template "content" .}}
    </div>
    <footer>
      <strong>
        Copyright © 2016 <a href="https://github.com/t-fukui">fukumone</a>.
      </strong>
      All rights reserved.
    </footer>
  </body>
</html>
