{{define "content"}}
  <div style="width: 500px;">
    {{if .FlashErrorMessage}}
      <p class="error-message">*{{.FlashErrorMessage}}</p>
    {{end}}
    <form method="post" action="/user/{{.UserData.name}}/community/create" >
      <div class="form-group">
        <label for="Name">コミュニティ名</label>
        <input type="text" class="form-control" name="Name" placeholder="コミュニティ名">
      </div>
      <div class="form-group">
        <label for="Description">説明</label>
        <textarea name="Description" class="form-control" rows="3" placeholder="説明"></textarea>
      </div>
      <button type="submit" class="btn btn-default">作成</button>
      <input type="hidden" name="Token" value="{{.Token}}">
    </form>
  </div>
  <br>
  <p><a href="/user/{{.UserData.name}}" class="btn btn-primary">コミュニティ一覧</a></p>
{{end}}
