{{define "content"}}
  <h2>{{.Community.Name}}</h2>
  <h4>説明：{{.Community.Description}}</h4>
  {{if .Messages}}
    {{if .FlashErrorDeleteMessage}}
      <p class="error-message">*{{.FlashErrorDeleteMessage}}</p>
    {{end}}
    <h3>メッセージ</h3>
    <table class="table" style="width: 500px;">
      <tr>
        <th>名前</th>
        <th>本文</th>
        <th>アクション</th>
      </tr>
      {{$cookiesUserId := .UserData.userid}}
      {{$cookiesUserName := .UserData.name}}
      {{$communityAdministratorId := .Community.AdministratorId}}
      {{$communityId := .Community.ID}}
      {{range $message := .Messages}}
      <tr>
        <td>{{$message.Name}}</td>
        <td>{{$message.Body}}</td>
        {{if eq $cookiesUserId $communityAdministratorId}}
          <form method="post" action="/user/{{$cookiesUserName}}/community/show/{{$communityId}}/message/delete" >
            <input type="hidden" name="MessageId" value={{$message.ID}}>
            <td type="submit"><button type="submit" class="btn btn-default confirmation">削除</button></td>
          </form>
        {{else}}
          <td>なし</td>
        {{end}}
      </tr>
      {{end}}
    </table>
  {{else}}
    <h3>メッセージはありません</h3>
  {{end}}
  <div style="width: 500px;">
    {{if .FlashErrorMessage}}
      <p class="error-message">*{{.FlashErrorMessage}}</p>
    {{end}}
    <form method="post" action="/user/{{.UserData.name}}/community/show/{{.Community.ID}}/message/create" >
      <div class="form-group">
        <label for="Name">名前</label>
        <h4>{{.UserData.name}}</h4>
      </div>
      <div class="form-group">
        <label for="Body">本文</label>
        <textarea name="Body" class="form-control" rows="3" placeholder="本文"></textarea>
      </div>
      <button type="submit" class="btn btn-default">メッセージを書く</button>
    </form>
  </div>
{{end}}
