<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>Eto Pirka SNS</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Eto Pirka SNS</a></h1>
      {{if .UserData}}
        <i class="fa fa-user" aria-hidden="true"></i>{{range .UserData}}{{.name}}{{end}} |
        <a href="/logout">ログアウト</a>
      {{end}}
    </header>
    <div id="content">
      {{template "content" .}}
    </div>
    <footer>
      <strong>
        Copyright © 2016 <a href="https://github.com/t-fukui">fukumone</a>.
      </strong>
      All rights reserved.
    </footer>
  </body>
</html>
